{% extends "admin/master_admin.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
<p><a href="/admin/users/list">View list of all users</a></p>

<p><a href="/admin/property/list">View list of all properties</a></p>

<p><a href="/admin/pending/list">View list of all pending brokers</a></p>
{% endblock %}
