{% extends "admin/master_admin.html.twig" %}

{% block title %}Welcome - 
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">

			<div class="col admin-left-side">
				<h1>Admin Panel</h1>
			</div>

			<div class="col">
				<div class="row">
					<div class="admin-square-container">
						<a href="/admin/buyer/list" class="admin-main-links">
							<div class="admin-main-choice-Square border">
								<i class="fas fa-user fa-10x admin-main-icons text-justify"></i>
								<br>
								<span class="admin-text-in-icon">Users</span>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="admin-square-container">
						<a href="/admin/property/list" class="admin-main-links">
							<div class="admin-main-choice-Square border">
								<i class="fas fa-house-user fa-10x admin-main-icons text-justify"></i>
								<br>
								<span class="admin-text-in-icon">Properties</span>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="admin-square-container">
						<a href="/admin/pending/list" class="admin-main-links">
							<div class="admin-main-choice-Square border">
								<i class="fas fa-spinner fa-10x admin-main-icons text-justify"></i>
								<br>
								<span class="admin-text-in-icon">Pending Users</span>
							</div>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
