{% extends "admin/master_admin.html.twig" %}

{% block title %}Operation Success{% endblock %}

{% block content %}           
    <p>The operation was successful.</p>
    <p><a href="/admin">Click here to go back to admin hub.</a></p>
{% endblock content %}