{% extends "admin/master_admin.html.twig" %}

{% block title %}Add User{% endblock %}

{% block content %}

    {% if errorList %}
        <ul>
        {% for error in errorList %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {# Form for buyers #}
    {% if userType is same as("buyer")%}
        <form method="post">
            Email: <input name="email" type="email"><br>
            Password: <input name="password1" type="password"><br>
            Confirm Password: <input name="password2" type="password"><br>
            <input type="submit" value="Add User">
        </form>
    {% endif %}               

    {# Form for broker #}
    {% if userType is same as("broker")%}
        <form method="post" enctype="multipart/form-data">
            Email: <input name="email" type="email"><br>
            Password: <input name="password1" type="password"><br>
            Confirm Password: <input name="password2" type="password"><br>
            License Number: <input name="licenseNo" type="text"><br>
            First Name: <input name="firstName" type="text"><br>
            Last Name: <input name="lastName" type="text"><br>
            Phone Number: <input name="phone" type="text"><br>
            Company: <input name="company" type="text"><br>
            Job Title: <input name="jobTitle" type="text"><br>
            Image: <input type="file" name="photoFilePath"/><br>
            Appartment Number: <input name="appartmentNo" type="number"><br>
            Street Number: <input name="streetNo" type="number"><br>
            Street Name: <input name="streetName" type="text"><br>
            City: <input name="city" type="text"><br>
            Province: <input name="province" type="text"><br>
            Postal Code: <input name="postalCode" type="text"><br>
            <input type="submit" value="Add User">
        </form>
    {% endif %}  

{% endblock content %}