{% extends "master.html.twig" %}

{% block title %}404 Error{% endblock %}

{% block content %}
<section class="intro-single">
	<div class="container">
		<div class="row">
			<h1 class="title-single">404 Error</h1>
			<p class="color-text-a">Page Not Found</p>
			<p>
				<a href="/">Click here to go back to the home page.</a>
			</p>
		</div>
	</div>
</section>
<!--/ Intro Single End /-->
{% endblock %}