{% extends "master.html.twig" %}

{% block title %}404 Error{% endblock %}

{% block content %}
    <h1>404 Error</h1>
    <h3>Page Not Found</h3>
    <p><a href="/">Click here to go back to the home page.</a></p>
    <p>Note for Chris: TODO</p>
{% endblock %}