{% extends "master.html.twig" %}
{% block title %}
	Error - 
{% endblock %}

{% block content %}
<!--/ Intro Single start /-->
<section class="intro-single">
	<div class="container">
		<div class="row">
			<p>We're sorry, we encoutered an internal error. Our team of coding ninjas is already working on a solution.    
				 <a href="/">Click to continue</a>. 
			</p>
			<img src="/images/ninja.png" width="100">
		</div>
	</div>
</section>
<!--/ Intro Single End /-->
{% endblock %}