<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Real Estate is an online platform that helps connect prospective property buyers and brokers together, whether it be residential or commercial properties." />
	<meta name="keyword" content="real estate, buy home, buy property, sell home, sell property, mortgage payment" />
	<meta name="author" content="Feng Han, Chris Latchman, Nari Roh" />
	<link rel="icon" href="../images/HouseIcon.png">
	<title>{% block title %}{% endblock %}FEBF Estate</title>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/ad82ed632b.js" crossorigin="anonymous"></script>
	
	<!-- BootStrap CSS CDN -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
	
	<!-- Main CSS -->
	<link href="/css/style.css" rel="stylesheet" />
	<link href="/css/styles.css" rel="stylesheet" />

	<!-- jQuery CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
	
	<!-- BootStrap JS BUNDLE -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	
	<!-- Libraries CSS Files -->
	<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/lib/animate/animate.min.css" rel="stylesheet">
	<link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
	<link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    
	{% block addHead %}{% endblock %}

</head>
<body>
	<div class="click-closed"></div>

	<!--/ Form Search Start /-->
	<div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Search Property</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="Type">Keyword</label>
              <input type="text" class="form-control form-control-lg form-control-a" id="keyword"
              value="{{searchVals.keyword}}"  placeholder="search properties">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="Type">Min price</label>
              <select class="form-control form-control-lg form-control-a" id="min-price">
                <option value="0" selected>No limit</option>
                <option value="0" {% if searchVals.minPrice is same as ('0') %} selected="selected" {% endif %}>0</option>
                <option value="50000" {% if searchVals.minPrice is same as ('50000') %} selected="selected" {% endif %}>50,000</option>
                <option value="100000" {% if searchVals.minPrice is same as ('100000') %} selected="selected" {% endif %}>100,000</option>
                <option value="200000" {% if searchVals.minPrice is same as ('200000') %} selected="selected" {% endif %}>200,000</option>
                <option value="500000" {% if searchVals.minPrice is same as ('500000') %} selected="selected" {% endif %}>500,000</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="city">Max price</label>
              <select class="form-control form-control-lg form-control-a" id="max-price">
                <option value="1000000000" selected>No limit</option>
                <option value="1000000" {% if searchVals.maxPrice is same as ('1000000') %} selected="selected" {% endif %}>1,000,000</option>
                <option value="500000" {% if searchVals.maxPrice is same as ('500000') %} selected="selected" {% endif %}>500,000</option>
                <option value="200000" {% if searchVals.maxPrice is same as ('200000') %} selected="selected" {% endif %}>200,000</option>
                <option value="100000" {% if searchVals.maxPrice is same as ('100000') %} selected="selected" {% endif %}>100,000</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bedrooms">Bedrooms</label>
              <select class="form-control form-control-lg form-control-a" id="beds">
                <option value=">=0" selected>No limit</option>
                <option value="=1" {% if searchVals.beds is same as ('=1') %} selected="selected" {% endif %}>1</option>
                <option value=">=1" {% if searchVals.beds is same as ('>=1') %} selected="selected" {% endif %}>1+</option>
                <option value="=2" {% if searchVals.beds is same as ('=2') %} selected="selected" {% endif %}>2</option>
                <option value=">=2" {% if searchVals.beds is same as ('>=2') %} selected="selected" {% endif %}>2+</option>
                <option value="=3" {% if searchVals.beds is same as ('=3') %} selected="selected" {% endif %}>3</option>
                <option value=">=3" {% if searchVals.beds is same as ('>=3') %} selected="selected" {% endif %}>3+</option>
                <option value="=4" {% if searchVals.beds is same as ('=4') %} selected="selected" {% endif %}>4</option>
                <option value=">=4" {% if searchVals.beds is same as ('>=4') %} selected="selected" {% endif %}>4+</option>
                <option value="=5" {% if searchVals.beds is same as ('=5') %} selected="selected" {% endif %}>5</option>
                <option value=">=5" {% if searchVals.beds is same as ('>=5') %} selected="selected" {% endif %}>5+</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="garages">Bathrooms</label>
              <select class="form-control form-control-lg form-control-a" id="baths">
                <option value=">=0" selected>No limit</option>
                <option value="=1" {% if searchVals.baths is same as ('=1') %} selected="selected" {% endif %}>1</option>
                <option value=">=1" {% if searchVals.baths is same as ('>=1') %} selected="selected" {% endif %}>1+</option>
                <option value="=2" {% if searchVals.baths is same as ('=2') %} selected="selected" {% endif %}>2</option>
                <option value=">=2" {% if searchVals.baths is same as ('>=2') %} selected="selected" {% endif %}>2+</option>
                <option value="=3" {% if searchVals.baths is same as ('=3') %} selected="selected" {% endif %}>3</option>
                <option value=">=3" {% if searchVals.baths is same as ('>=3') %} selected="selected" {% endif %}>3+</option>
                <option value="=4" {% if searchVals.baths is same as ('=4') %} selected="selected" {% endif %}>4</option>
                <option value=">=4" {% if searchVals.baths is same as ('>=4') %} selected="selected" {% endif %}>4+</option>
                <option value="=5" {% if searchVals.baths is same as ('=5') %} selected="selected" {% endif %}>5</option>
                <option value=">=5" {% if searchVals.baths is same as ('>=5') %} selected="selected" {% endif %}>5+</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-b" name="propSearch">Search Property</button>
          </div>
        </div>
      </form>
    </div>
  </div>
	<!--/ Form Search End /-->

	<!--/ Nav Start /-->
	<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
		<div class="container">
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<a class="navbar-brand text-brand" href="/">FEBF<span class="color-b">Estate</span></a>
			<button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
				data-target="#navbarTogglerDemo01" aria-expanded="false">
				<span class="fa fa-search" aria-hidden="true"></span>
			</button>
			<div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
				<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/properties">Property</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/brokers">Brokers</a>
				</li>
			{% if userSession == false %}
				<li class="nav-item">
					<a class="nav-link" href="/register">Sign up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
			{% else %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						My Pages
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/profile">Profile</a>
					{% if userSession['role'] == 'buyer' %}
						<a class="dropdown-item" href="agents-grid.html">My Favourite</a>
					{% elseif userSession['role'] == 'broker' %}
						<a class="dropdown-item" href="/mypropertylist">My Porperty</a>
						<a class="dropdown-item" href="/addproperty">Add Property</a>
					{% endif %}
						<a class="dropdown-item" href="/logout">Logout</a>
					</div>
				</li>
				
			{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="/about">About us</a>
				</li>
				</ul>
			</div>
			<button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
				data-target="#navbarTogglerDemo01" aria-expanded="false">
				<span class="fa fa-search" aria-hidden="true"></span>
			</button>
		</div>
	</nav>
	<!--/ Nav End /-->
	<header class="text-center">
    {% block header %}{% endblock %}
  </header>
	<!--/ Main Content Start /-->
	{% block content %}{% endblock %}
	<!--/ Main Content End /-->
  
  <!--/ Footer Start /-->
	<section class="section-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-4">
					<div class="widget-a">
						<div class="w-header-a">
							<h3 class="w-title-a text-brand">FEBF Estate</h3>
						</div>
						<div class="w-body-a">
							<p class="w-text-a color-text-a">
								Enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat duis
								sed aute irure.
							</p>
						</div>
						<div class="w-footer-a">
							<ul class="list-unstyled">
								<li class="color-a">
								<span class="color-text-a">Phone .</span> +1 514 123 1234</li>
								<li class="color-a">
								<span class="color-text-a">Email .</span> contact@febfestate.com</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 section-md-t3">
					<div class="widget-a">
						<div class="w-header-a">
							<h3 class="w-title-a text-brand">Discover Website</h3>
						</div>
						<div class="w-body-a">
							<div class="w-body-a">
								<ul class="list-unstyled">
									<li class="item-list-a">
										<i class="fa fa-angle-right"></i> <a href="#">Site Map</a>
									</li>
									<li class="item-list-a">
										<i class="fa fa-angle-right"></i> <a href="#">Create An Account</a>
									</li>
									<li class="item-list-a">
										<i class="fa fa-angle-right"></i> <a href="#">Broker List</a>
									</li>
									<li class="item-list-a">
										<i class="fa fa-angle-right"></i> <a href="#">Properties</a>
									</li>
									<li class="item-list-a">
										<i class="fa fa-angle-right"></i> <a href="#">Agent Admin</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 section-md-t3">
					<div class="widget-a">
						<div class="w-header-a">
							<h3 class="w-title-a text-brand">Top Markets</h3>
						</div>
						<div class="w-body-a">
							<ul class="list-unstyled">
								<li class="item-list-a">
									<i class="fa fa-angle-right"></i> <a href="#">Montreal</a>
								</li>
								<li class="item-list-a">
									<i class="fa fa-angle-right"></i> <a href="#">Toronto</a>
								</li>
								<li class="item-list-a">
									<i class="fa fa-angle-right"></i> <a href="#">Vancouver</a>
								</li>
								<li class="item-list-a">
									<i class="fa fa-angle-right"></i> <a href="#">Ottawa</a>
								</li>
								<li class="item-list-a">
									<i class="fa fa-angle-right"></i> <a href="#">Calgary</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="nav-footer">
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href="#">Home</a>
							</li>
							<li class="list-inline-item">
								<a href="#">About</a>
							</li>
							<li class="list-inline-item">
								<a href="#">Property</a>
							</li>
							<li class="list-inline-item">
								<a href="#">Blog</a>
							</li>
						</ul>
					</nav>
					<div class="socials-a">
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href="#">
									<i class="fa fa-facebook" aria-hidden="true"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fa fa-pinterest-p" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="copyright-footer">
						<p class="copyright color-text-a">
							&copy; Copyright
							<span class="color-a">FEBF Estate</span> All Rights Reserved.
						</p>
					</div>
					<div class="credits">
						<!--
						All the links in the footer should remain intact.
						You can delete the links only if you purchased the pro version.
						Licensing information: https://bootstrapmade.com/license/
						Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
						-->
						Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/ Footer End /-->
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
	<!-- JavaScript Libraries -->
	<script src="/lib/jquery/jquery.min.js"></script>
	<script src="/lib/jquery/jquery-migrate.min.js"></script>
	<script src="/lib/popper/popper.min.js"></script>
	<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="/lib/easing/easing.min.js"></script>
	<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="/lib/scrollreveal/scrollreveal.min.js"></script>


	<!-- Template Main Javascript File -->
	<script src="/js/main.js"></script>
  <script src="/js/search.js"></script>
</body>
</html>
