{% extends "master.html.twig" %}

{% block addHead %}
    <script>
    $(document).ready(function() {

       $('#changePhoto').on('submit', function(e) {

           e.preventDefault();
            // Check file selected or not
            $.ajax({
                 url: '/profile/uploadPhoto',
                type: 'post',
                data: new FormData(this),
                contentType: false,
                processData: false,
                success: function(retVal) {
                    if (retVal == 1) {
                        $('.img-thumbnail').show();
                        location.reload();
                    } else {
                        $('.img_err').html(retVal);
                    }
                }
            })
        })

        $('#changePass').click(function() {
            
            $('.profile').hide();
            $('.viewFav').hide();
            $('.changePass').show();
            
        });

        $('.changePass').on('submit', function(e) {

            $('.pass_err').html("");
            e.preventDefault();
            var origPw = $("input[name=origPw]").val();
            var newPw = $("input[name=newPw]").val();
            var newPwRepeat = $("input[name=newPwRepeat]").val();
            var passObj = {origPw: origPw, newPw: newPw, newPwRepeat: newPwRepeat};
            var jsonString = JSON.stringify(passObj);
            $.ajax({
                    url: '/profile/changepass',
                    type: 'post',
                    data: jsonString,
                    dataType: 'json'
                }).done(function(retVal) {
                    if (retVal == 1) {
                        $("input[name=origPw]").val("");
                        $("input[name=newPw]").val("");
                        $("input[name=newPwRepeat]").val("");
                        $('.pass_err').html("Password changed successfully.");
                    } else {
                        $('.pass_err').html(retVal);
                    }
                })
        });

        $('#changeProf').click(function() {
            
            $('.profile').show();
            $('.changePass').hide();
            $('.viewFav').hide();
        });

        $('#viewFav').click(function() {
            viewFav();
        })

    }) // document.ready

    function viewFav() {

        $('.profile').hide();
            $('.changePass').hide();
            $('.viewFav').show();

            $.ajax({
                url: '/profile/viewFav',
                type: 'GET',
                dataType: 'json',
                success: function (favList) {
                    var body = "";
                    for (var i = 0; i < favList.length; i++) {
                        var property = favList[i];
                        body += '<div class="col-3"><div class="p-3 border bg-light">';
                        body += '<div class="card">';
                        if (property.photoFilePath) {
                            body += '<img src="/uploads/' + property.id + '/thmb-' + property.photoFilePath + '" class="card-img-top" alt="property photo">';
                        } else {
                            body += '<img src="/images/defaultproperty.jpg" class="card-img-top" alt="property photo">';
                        }
                        body += '<div class="card-body">';
                        body += '<h5 class="card-title">' + property.price + '</h5>';
                        body += '<p class="card-text">' + (property.appartmentNo ? "#" + property.appartmentNo + " " : "") + property.streetAddress + ', ' + property.city + ', ' + property.province + '</p>';
                        body += '<p class="card-text">' +property.bedrooms + 'bedroom(s)' + ' + ' + property.bathrooms + 'bathroom(s)</p>';
                        body += '<a href="#" class="btn btn-primary">View details</a><a href="#" class="btn btn-danger" onclick="deleteFav(' + property.id + ')">remove</a>';
                        body += '</div></div></div></div>';
                    }
                    $('.viewFav div:first-child').html(body);
                }
            })
    }

    function deleteFav(propertyId) {
        $.ajax({
            url: '/profile/removeFav/' + propertyId,
            type: 'DELETE',
            dataType: 'json'
        })
        viewFav();
    }

    </script>
{% endblock %}

{% block header %}
    <h1>Profile</h1>
    <h3>{{success}}</h3>
{% endblock %}

{% block content %}
    {% if user.role is same as("broker") %}
        {% include "profile-broker.html.twig" %}
    {% else %}
        {% include "profile-buyer.html.twig" %}
    {% endif %}
    
{% endblock %}