{% extends "master.html.twig" %}

{% block addHead %}
    <script>
    $(document).ready(function() {

       $('#changePhoto').on('submit', function(e) {

           e.preventDefault();
            // Check file selected or not
            $.ajax({
                 url: '/profile/uploadPhoto',
                type: 'post',
                data: new FormData(this),
                contentType: false,
                processData: false,
                success: function(retVal) {
                    if (retVal == 1) {
                        $('.img-thumbnail').show();
                        location.reload();
                    } else {
                        $('.img_err').html(retVal);
                    }
                }
            })
        })

        $('#changePass').click(function() {
            
            $('.profile').hide();
            $('.view-fav').hide();
            $('#profile-success').html("");
            $('.changePass').show();
            
        });

        $('.changePass').on('submit', function(e) {

            $('.pass_err').html("");
            e.preventDefault();
            var origPw = $("input[name=origPw]").val();
            var newPw = $("input[name=newPw]").val();
            var newPwRepeat = $("input[name=newPwRepeat]").val();
            var passObj = {origPw: origPw, newPw: newPw, newPwRepeat: newPwRepeat};
            var jsonString = JSON.stringify(passObj);
            $.ajax({
                    url: '/profile/changepass',
                    type: 'post',
                    data: jsonString,
                    dataType: 'json'
                }).done(function(retVal) {
                    if (retVal == 1) {
                        $("input[name=origPw]").val("");
                        $("input[name=newPw]").val("");
                        $("input[name=newPwRepeat]").val("");
                        $('.pass_err').html("Password changed successfully.");
                    } else {
                        $('.pass_err').html(retVal);
                    }
                })
        });

        $('#changeProf').click(function() {
            
            $('.profile').show();
            $('.changePass').hide();
            $('.view-fav').hide();
            $('#profile-success').html("");
        });

        $('#viewFav').click(function() {
            viewFav();
        })

    }) // document.ready

    function viewFav() {

        $('.profile').hide();
            $('.changePass').hide();
            $('#profile-success').html("");
            $('.view-fav').show();

            $.ajax({
                url: '/profile/viewFav',
                type: 'GET',
                dataType: 'json',
                success: function (favList) {
                    var body = "";
                    for (var i = 0; i < favList.length; i++) {
                        var property = favList[i];
                        body += '<div class="col-md-4">';
                        body += '<div class="card-box-a card-shadow">';
                        body += '<div class="img-box-a">';
                        if (property.photoFilePath) {
                            body += '<img src="/uploads/' + property.id + '/thmb-' + property.photoFilePath + '" class="img-a img-fluid" alt="property photo">';
                        } else {
                            body += '<img src="/images/defaultproperty.jpg" class="img-a img-fluid" alt="property photo">';
                        }
                        body += '</div><div class="card-overlay"><div class="card-overlay-a-content"><div class="card-header-a"><h4 class="card-title-a">';
                        body += '<a href="/properties/{{property.id}}">' + (property.appartmentNo ? "#" + property.appartmentNo + " " : "") + property.streetAddress + ', ' + property.city + '</a></h2></div>';
                        body += '<div class="card-body-a"><div class="price-box d-flex">';
                        body += '<span class="price-a">$' + property.price + '</span></div>';
                        body += '<a href="/properties/{{property.id}}" class="link-a">Click here to view</a></div>';
                        body += '<div class="card-footer-a"><ul class="card-info d-flex justify-content-around"><li><h4 class="card-info-title">Lot area</h4><span>' + property.lotArea + 'M<sup>2</sup></span></li>';
                        body += '<li><h4 class="card-info-title">Beds</h4><span>' +property.bedrooms + '</span></li>';
                        body += '<li><h4 class="card-info-title">Baths</h4><span>' +property.bathrooms + '</span></li>';
                        body += '<li><a href="#" class="btn btn-danger" onclick="deleteFav(' + property.id + ')">remove</a></li>';
                        body += '</ul></div></div></div></div></div>';
                    }
                    $('.viewFav').html(body);
                }
            })
    }

    function deleteFav(propertyId) {
        $.ajax({
            url: '/profile/removeFav/' + propertyId,
            type: 'DELETE',
            dataType: 'json'
        })
        viewFav();
    }

    </script>
{% endblock %}

{% block header %}
    <h1>Profile</h1>
    <h3 id="profile-success">{{success}}</h3>
{% endblock %}

{% block content %}

<!--/ Intro Single start /-->
<section class="intro-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<div class="title-single-box">
					<h1 class="title-single capitalize">Profile</h1>
					<span class="color-text-a uppercase">Your Profile</span>
				</div>
			</div>
			<div class="col-md-12 col-lg-4">
				<nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/">Home</a>
						</li>
						<li class="breadcrumb-item active capitalize" aria-current="page">
							Profile
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<!--/ Intro Single End /-->

<section>
	<div class="container">
    {% if user.role is same as("broker") %}
        {% include "profile-broker.html.twig" %}
    {% else %}
        {% include "profile-buyer.html.twig" %}
    {% endif %}
    </div>
</section>

{% endblock %}