{% extends "master.html.twig" %}

{% block title %}Property Map{% endblock %}

{% block addHead %}
<style>

body {
	overflow: hidden;
}

.sidemenu {
	height: 937px;
	width: 0;
	position: fixed;
	background-color: white;
	transition: 0.4s;
	overflow-y: scroll;
	padding-bottom: 120px;
}

.sideMenuImage {
	width: 90%;
	padding-top: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.propertyCard {
	margin: 10px;
	border: 2px solid black;
	height: 200px;
}

.propertyCardLink {
	text-decoration: none;
}

.smImage {
	height: 130px;
}

.markerCard > * {
	text-decoration: none;
}

.markerImage {
	display:block;
    margin:auto;
}

.fixed-top {
	position: static;
}

#SMButton {
	position: fixed;
	z-index: 10;
	width: 50px;
	height: 50px;
	margin-top: 90px;
	background-color: white;
	transition: 0.4s;
}

</style>
<script>

	var sortOrder = "createdTS_DESC";
	var minPrice = "0";
	var maxPrice = "1000000000";
	var beds = ">=0";
	var baths = ">=0";
	var keyword = "";

	var markers = [];
	var propertyList = [];

    let map;

    function initMap() {
		map = new google.maps.Map(document.getElementById("map"), {
			center: { lat: 45.5017, lng: -73.5673 },
			zoom: 12,
		});
    }

	function toggleSM() {
		if ($(".sidemenu").css("width") === "0px") {
			document.getElementById("mySidemenu").style.width = "18%";
			document.getElementById("map").style.width = "82%";
			document.getElementById("SMButton").style.marginLeft = "18%";
			$("#smArrow").removeClass('fa-arrow-right');
			$("#smArrow").addClass('fa-arrow-left');
		} else {
			document.getElementById("mySidemenu").style.width = "0";
			document.getElementById("map").style.width = "100%";
			document.getElementById("SMButton").style.marginLeft = "0";
			$("#smArrow").removeClass('fa-arrow-left');
			$("#smArrow").addClass('fa-arrow-right');
		}
	}

	function loadPropList() {
		for (var i = 0; i < propertyList.length; i++) {
			var id = propertyList[i].id;
			var fileName = propertyList[i].photoFilePath;
			var price = propertyList[i].price;
			var streetAddress = propertyList[i].streetAddress;
			var city = propertyList[i].city;
			var province = propertyList[i].province;
			var bedrooms = propertyList[i].bedrooms;
			var bathrooms = propertyList[i].bathrooms;
			if (fileName === null) {
				$("#mySidemenu").append(`
					<a class="propertyCardLink" href="/properties/${id}">
						<div class="propertyCard">
							<img class="smImage" src="/images/defaultproperty.jpg" style="height: 130px;">
							<div class="smPrice">$${price}</div>
							<div class="smFullAddress">
							<span class="smStreetAddress">${streetAddress}, </span><span class="smCity">${city}, </span><span class="smProvince">${province}</span>
							</div>
							<div class="smBedBath">
							<span class="smBedrooms">${bedrooms}</span>&nbsp;<i class="fas fa-bed"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="smBathrooms">${bathrooms}</span>&nbsp;<i class="fas fa-bath"></i>
							</div>
						</div>
					</a>
				`);
			} else {
				$("#mySidemenu").append(`
					<a class="propertyCardLink" href="/properties/${id}">
						<div class="propertyCard">
							<img class="smImage" src="/uploads/${id}/thmb-${fileName}" style="height: 130px;">
							<div class="smPrice">$${price}</div>
							<div class="smFullAddress">
							<span class="smStreetAddress">${streetAddress}, </span><span class="smCity">${city}, </span><span class="smProvince">${province}</span>
							</div>
							<div class="smBedBath">
							<span class="smBedrooms">${bedrooms}</span>&nbsp;<i class="fas fa-bed"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="smBathrooms">${bathrooms}</span>&nbsp;<i class="fas fa-bath"></i>
							</div>
						</div>
					</a>
				`);
			}
		}
	}

    $(document).ready(function() {

		var urlSearchParams = new URLSearchParams(window.location.search);
		var params = Object.fromEntries(urlSearchParams.entries());

		minPrice = params.minPrice;
		maxPrice = params.maxPrice;
		beds = params.beds;
		baths = params.baths;
		keyword = params.keyword;

		 $.ajax({
			url: '/ajax/properties/map?sortBy=' + sortOrder + '&minPrice=' + minPrice + '&maxPrice=' + maxPrice + '&beds=' + beds + 
				'&baths=' + baths + '&keyword=' + keyword,
			type: 'GET',
			dataType: 'json',
                error: function(jqxhr, status, errorThrown) {
                    // TODO
                }
            }).done(function(propertyListData) {
				var counter = 0;

				for (var i = 0; i < propertyListData.length; i++) {
					propertyList.push(propertyListData[i]);

						$.ajax({
							url: 'https://maps.googleapis.com/maps/api/geocode/json?address=' + propertyListData[i]['postalCode'] + '&key=AIzaSyCflFmMrn2tJfZDEn8eIokkKldXJlTU19Q',
							type: 'GET'
						}).done(function(geolocationData) {
							if (geolocationData.status === "OK") {
								var lat = geolocationData.results[0].geometry.location.lat;
								var lng = geolocationData.results[0].geometry.location.lng;
								var marker = new google.maps.Marker({
								position: { lat: lat, lng: lng },
								map,
								data: propertyListData[counter], 
								counter: counter
								// ,icon: image // You can add a custom image for the markers here
								});
								var id = propertyListData[counter].id;
								var fileName = propertyListData[counter].photoFilePath;
								var price = propertyListData[counter].price;
								var streetAddress = propertyListData[counter].streetAddress;
								var city = propertyListData[counter].city;
								var province = propertyListData[counter].province;
								var bedrooms = propertyListData[counter].bedrooms;
								var bathrooms = propertyListData[counter].bathrooms;
								var contentString = "";
								
								if (fileName === null) {
									contentString = `
										<a href="/properties/${id}" style="text-decoration: none;">
											<div class="markerCard">
												<img class="markerImage" src="/images/defaultproperty.jpg" style="height: 130px;">
												<br>
												<div class="markerPrice">$${price}</div>
												<div class="markerFullAddress">
													<span class="markerStreetAddress">${streetAddress}, </span><span class="markerCity">${city}, </span><span class="markerProvince">${province}</span>
												</div>
												<div class="markerBedBath">
													<span class="markerBedrooms">${bedrooms}</span>&nbsp;<i class="fas fa-bed"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="markerBathrooms">${bathrooms}</span>&nbsp;<i class="fas fa-bath"></i>
													<br>
												</div>
											</div>
										</a>
									`;
								} else {
									contentString = `
										<a href="/properties/${id}" style="text-decoration: none;">
											<div class="markerCard">
												<img class="markerImage" src="/uploads/${id}/thmb-${fileName}" style="height: 130px;">
												<br>
												<div class="markerPrice">$${price}</div>
												<div class="markerFullAddress">
													<span class="markerStreetAddress">${streetAddress}, </span><span class="markerCity">${city}, </span><span class="markerProvince">${province}</span>
												</div>
												<div class="markerBedBath">
													<span class="markerBedrooms">${bedrooms}</span>&nbsp;<i class="fas fa-bed"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="markerBathrooms">${bathrooms}</span>&nbsp;<i class="fas fa-bath"></i>
													<br>
												</div>
											</div>
										</a>
									`;
								}

								var infowindow = new google.maps.InfoWindow({
									content: contentString,
								});

								marker.addListener("click", () => {
									infowindow.open({
										anchor: marker,
										map,
										shouldFocus: true,
									});
								});

								markers.push(marker);
								counter++;
							} else {
								return;
							}
						});

				}
				loadPropList();
				initMap();
            });

    });

</script>
{% endblock %}

{% block content %}
	<div id="mySidemenu" class="sidemenu"></div>
	<div id="SMButton"><a href="javascript:toggleSM();"><i id="smArrow" class="fas fa-arrow-right smArrow fa-3x"></i></a></div>

    <div id="map" style="height: 100vh; width: 100%; float: right; transition: 0.4s;"></div>

    <script desync
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCflFmMrn2tJfZDEn8eIokkKldXJlTU19Q">
    </script> 
{% endblock %}
