{% extends "master.html.twig" %}
{% block addHead %}
<script>

	var sortOrder = "createdTS_DESC";
	var minPrice = "0";
	var maxPrice = "1000000000";
	var beds = ">=0";
	var baths = ">=0";
	var keyword = "";

    $(document).ready(function() {

		minPrice = $("#min-price option:selected").val();
		maxPrice = $('#max-price option:selected').val();
		beds = $('#beds option:selected').val();
		baths = $('#baths option:selected').val();
		keyword = $('#keyword').val();
		loadPropList();
		
		

		//sort
		$('select[name=property-sortby]').change( function() {
			sortOrder = $('select[name=property-sortby] option:selected').val();
			loadPropList();

		})

		//search
		$('button[name=propSearch]').click(function() {
			minPrice = $("#min-price option:selected").val();
			maxPrice = $('#max-price option:selected').val();
			beds = $('#beds option:selected').val();
			baths = $('#baths option:selected').val();
			keyword = $('#keyword').val();
			loadPropList();
		})

    }) // document ready

	function loadPropList() {
		$("#propList").load('/ajax/properties?sortBy=' + sortOrder + '&minPrice=' + minPrice + '&maxPrice=' + maxPrice + '&beds=' + beds + 
					'&baths=' + baths + '&keyword=' + keyword); 
	}

</script>
{% endblock %}
{% block header %}
	<div class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <input class="form-control form-control-md" type="text" id="keyword" placeholder="search properties" value="{{searchVals.keyword}}">
        </div>
      
        <div class="col-12">
          <select class="form-select" id="min-price">
            <option value="0" selected>Min Price</option>
            <option value="0" {% if searchVals.minPrice is same as ('0') %} selected="selected" {% endif %}>0</option>
            <option value="50000" {% if searchVals.minPrice is same as ('50000') %} selected="selected" {% endif %}>50,000</option>
            <option value="100000" {% if searchVals.minPrice is same as ('100000') %} selected="selected" {% endif %}>100,000</option>
            <option value="200000" {% if searchVals.minPrice is same as ('200000') %} selected="selected" {% endif %}>200,000</option>
            <option value="500000" {% if searchVals.minPrice is same as ('500000') %} selected="selected" {% endif %}>500,000</option>
          </select>
        </div>
      
        <div class="col-12">
            <select class="form-select" id="max-price">
              <option value="1000000000" selected>Max Price</option>
              <option value="1000000000" {% if searchVals.maxPrice is same as ('1000000000') %} selected="selected" {% endif %}>Unlimited</option>
              <option value="1000000" {% if searchVals.maxPrice is same as ('1000000') %} selected="selected" {% endif %}>1,000,000</option>
              <option value="500000" {% if searchVals.maxPrice is same as ('500000') %} selected="selected" {% endif %}>500,000</option>
              <option value="200000" {% if searchVals.maxPrice is same as ('200000') %} selected="selected" {% endif %}>200,000</option>
              <option value="100000" {% if searchVals.maxPrice is same as ('100000') %} selected="selected" {% endif %}>100,000</option>
            </select>
        </div>

        <div class="col-12">
            <select class="form-select" id="beds">
              <option value=">=0" selected>Beds</option>
              <option value="=1" {% if searchVals.beds is same as ('=1') %} selected="selected" {% endif %}>1</option>
              <option value=">=1" {% if searchVals.beds is same as ('>=1') %} selected="selected" {% endif %}>1+</option>
              <option value="=2" {% if searchVals.beds is same as ('=2') %} selected="selected" {% endif %}>2</option>
              <option value=">=2" {% if searchVals.beds is same as ('>=2') %} selected="selected" {% endif %}>2+</option>
              <option value="=3" {% if searchVals.beds is same as ('=3') %} selected="selected" {% endif %}>3</option>
              <option value=">=3" {% if searchVals.beds is same as ('>=3') %} selected="selected" {% endif %}>3+</option>
              <option value="=4" {% if searchVals.beds is same as ('=4') %} selected="selected" {% endif %}>4</option>
              <option value=">=4" {% if searchVals.beds is same as ('>=4') %} selected="selected" {% endif %}>4+</option>
              <option value="=5" {% if searchVals.beds is same as ('=5') %} selected="selected" {% endif %}>5</option>
              <option value=">=5" {% if searchVals.beds is same as ('>=5') %} selected="selected" {% endif %}>5+</option>
            </select>
        </div>

        <div class="col-12">
            <select class="form-select" id="baths">
              <option value=">=0" selected>Baths</option>
              <option value="=1" {% if searchVals.baths is same as ('=1') %} selected="selected" {% endif %}>1</option>
              <option value=">=1" {% if searchVals.baths is same as ('>=1') %} selected="selected" {% endif %}>1+</option>
              <option value="=2" {% if searchVals.baths is same as ('=2') %} selected="selected" {% endif %}>2</option>
              <option value=">=2" {% if searchVals.baths is same as ('>=2') %} selected="selected" {% endif %}>2+</option>
              <option value="=3" {% if searchVals.baths is same as ('=3') %} selected="selected" {% endif %}>3</option>
              <option value=">=3" {% if searchVals.baths is same as ('>=3') %} selected="selected" {% endif %}>3+</option>
              <option value="=4" {% if searchVals.baths is same as ('=4') %} selected="selected" {% endif %}>4</option>
              <option value=">=4" {% if searchVals.baths is same as ('>=4') %} selected="selected" {% endif %}>4+</option>
              <option value="=5" {% if searchVals.baths is same as ('=5') %} selected="selected" {% endif %}>5</option>
              <option value=">=5" {% if searchVals.baths is same as ('>=5') %} selected="selected" {% endif %}>5+</option>
            </select>
        </div>
		
        <div class="col-12">
          <button class="btn btn-primary" name="propSearch">search</button>
        </div>
    </div><br>
	<ul class="nav nav-pills">
  		<li class="nav-item">
    		<a class="nav-link active" aria-current="page" href="#">Gallery</a>
  		</li>
  		<li class="nav-item">
    		<a class="nav-link" href="#">Map</a>
  		</li>
  		<li class="nav-item">
    		<select class="form-select property-sortby" name="property-sortby" data-width="fit">
  				<option selected>Sort by</option>
  				<option value="price">Low to high</option>
				<option value="price_DESC">High to low</option>
				<option value="createdTS_DESC">Recent publications</option>
				<option value="createdTS">Less recent publications</option>
			</select>
  		</li>
	</ul>	
	<hr class="solid">
{% endblock %}

{% block content %}
	<div class="container overflow-hidden">
		<div class="row gy-5" id="propList">
		</div>
	</div>
{% endblock %}
