{% extends "master.html.twig" %}
{% block addHead %}
<style>

.sidemenu {
	height: 100vh;
	width: 0;
	position: fixed;
	background-color: white;
	transition: 0.4s;
	/* z-index: 1;
	top: 0;
	overflow-x: hidden; */
}

.sideMenuImage {
	width: 90%;
	padding-top: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

</style>
<script>

	var sortOrder = "createdTS_DESC";
	var minPrice = "0";
	var maxPrice = "1000000000";
	var beds = ">=0";
	var baths = ">=0";
	var keyword = "";

	var markers = [];
	var propertyList = [];

    let map;

    function initMap() {
		map = new google.maps.Map(document.getElementById("map"), {
			center: { lat: 45.5017, lng: -73.5673 },
			zoom: 12,
		});
    }

	function openSM() {
		console.log($(this));
		document.getElementById("mySidemenu").style.width = "18%";
		document.getElementById("map").style.width = "82%";
	}

	function closeSM() {
		document.getElementById("mySidemenu").style.width = "0";
		document.getElementById("map").style.width = "100%";
	}

	function clearSideBarData() {
		$("#sideMenuImage").attr("src", "#");
		$("#sideMenuTitle").text("");
		$("#sideMenuPrice").text("");
		$("#sideMenuBedrooms").text("");
		$("#sideMenuBathrooms").text("");
		$("#sideMenuStreetAddress").text("");
		$("#sideMenuCity").text("");
		$("#sideMenuProvince").text("");
		$("#sideMenuPostalCode").text("");
	}

    $(document).ready(function() {
		 $.ajax({
			url: '/ajax/properties/map?sortBy=' + sortOrder + '&minPrice=' + minPrice + '&maxPrice=' + maxPrice + '&beds=' + beds + 
					'&baths=' + baths + '&keyword=' + keyword,
			type: 'GET',
			dataType: 'json',
                error: function(jqxhr, status, errorThrown) {
                    // TODO
                }
            }).done(function(propertyListData) {
				var counter = 0;

				for (var i = 0; i < propertyListData.length; i++) {
					propertyList.push(propertyListData[i]);

						$.ajax({
							url: 'https://maps.googleapis.com/maps/api/geocode/json?address=' + propertyListData[i]['postalCode'] + '&key=AIzaSyCflFmMrn2tJfZDEn8eIokkKldXJlTU19Q',
							type: 'GET'
						}).done(function(geolocationData) {
							if (geolocationData.status === "OK") {
								var lat = geolocationData.results[0].geometry.location.lat;
								var lng = geolocationData.results[0].geometry.location.lng;
								var marker = new google.maps.Marker({
								position: { lat: lat, lng: lng },
								map,
								data: propertyListData[counter], 
								counter: counter
								// ,icon: image, // TODO?: add an image variable with a custom image here
								});

								marker.addListener("click", () => {
									clearSideBarData();

									if ($(".sidemenu").css("width") === "0px") {
										$("#sideMenuImage").attr("src", "../uploads/" + marker.data.id + "/thmb-" + marker.data.photoFilePath);
										$("#sideMenuTitle").text(marker.data.title);
										$("#sideMenuPrice").text("Price: " + marker.data.price);
										$("#sideMenuBedrooms").text("Bedrooms: " + marker.data.bedrooms);
										$("#sideMenuBathrooms").text("Bathrooms: " + marker.data.bathrooms);
										$("#sideMenuStreetAddress").text("Street Address: " + marker.data.streetAddress);
										$("#sideMenuCity").text("City: " + marker.data.city);
										$("#sideMenuProvince").text("Province: " + marker.data.province);
										$("#sideMenuPostalCode").text("Postal Code: " + marker.data.postalCode);
										openSM();
									} else {
										clearSideBarData();
										closeSM();
									}
								});

								markers.push(marker);
								counter++;
							} else {
								return;
							}
						});

				}
				// console.log(propertyList);
				// console.log(markers);
				initMap();
            });

    }); // document ready

</script>
{% endblock %}

{% block content %}
	<div id="mySidemenu" class="sidemenu">
		<img id="sideMenuImage" class="sideMenuImage" alt="Property Photo">
		<p id="sideMenuTitle"></p>
		<p id="sideMenuPrice"></p>
		<p id="sideMenuBedrooms"></p>
		<p id="sideMenuBathrooms"></p>
		<p id="sideMenuStreetAddress"></p>
		<p id="sideMenuCity"></p>
		<p id="sideMenuProvince"></p>
		<p id="sideMenuPostalCode"></p>
	</div>

    <div id="map" style="height: 100vh; width: 100%; float: right; transition: 0.4s;"></div>

    <script desync
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCflFmMrn2tJfZDEn8eIokkKldXJlTU19Q">
    </script> 
{% endblock %}
